.review-rating img {
  width: 15px;
  height: 15px;
}

.rating .rate_radio {
  display: none;
}

.rating .rate_radio + label {
  position: relative;
  display: inline-block;
  margin-left: -4px;
  z-index: 10;
  width: 25px;
  height: 25px;
  background-image: url('../images/star.png');
  background-repeat: no-repeat;
  background-size: 25px 25px;
  cursor: pointer;
  opacity: 0.1;
}

.rating .rate_radio:checked + label {
  opacity: 1;
}

