.review-rating img {
  width: 15px;
  height: 15px;
}


/* .rating .rate_radio {
  position: relative;
  display: inline-block;
  z-index: 20;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
  vertical-align: top;
  display: none;
} */

.rating .rate_radio {
  display: none;
}

.rating .rate_radio + label {
  position: relative;
  display: inline-block;
  margin-left: -4px;
  z-index: 10;
  width: 40px;
  height: 40px;
  background-image: url('../images/star.png');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  cursor: pointer;
  opacity: 0.1;
}

/* .rating label {
  display: inline-block;
  margin-left: -4px;
  width: 40px;
  height: 40px;
  background-image: url('../images/star.png');
  background-size: 40px 40px;
  cursor: pointer;
  background-color: #f0f0f0;
  opacity: 0.1;
} */

.rating .rate_radio:checked + label {
  opacity: 1;
}

