/* 전체 회원가입 UI에 관한 스타일 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FDFCFB;
}

a {
  text-decoration: none;
}

/* 입력창 부분 */
#checkout-box {
  width: 650px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  border: 2px solid rgb(209, 204, 204);
  box-shadow: 15px 15px 20px gray;
  padding: 25px 75px;
  text-align: center;
}

#input-box label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

#input-box .checkout-number {
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; 
}

#input-box .flex-second {
  width: 50px;
}

#input-box .checkout-number .flex-btn {
  line-height: 29px;
  font-size: 50px;
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(106, 228, 228);
  border-radius: 10px;
}

#input-box #checkoutNum {
  text-align: center;
  padding: 2px;
  width: 50px;
  font-size: 25px;
}


/* 로그인 버튼 아래 부분 */
#page-change-box {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
}

#page-change-box a {
  color: gray;
}