{% extends 'navbar.html' %}

{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bookinfo.css') }}">
{% endblock %}

{% block content %}
<div id="book-info">
  <table class="table">
    <tr>
      <td class="book-img">
        <div class="book-img-block">
          <img src="{{ '.' + book_infos.book_img}}" alt="book_infos.book_name" style="height: 300px; width: 300px;">
        </div>
      </td>
      <td class="book-info">
        <table>
          <tr>
            <td class="first-line">책 제목</td>
            <td class="first-line">{{ book_infos.book_name }}</td>
          </tr>
          <tr>
            <td>출판사</td>
            <td>{{ book_infos.publisher}}</td>
          </tr>
          <tr>
            <td>저자</td>
            <td>{{ book_infos.author }}</td>
          </tr>
          <tr>
            <td>출간일</td>
            <td>{{ book_infos.publication_date}}</td>
          </tr>
          <tr>
            <td>페이지 수</td>
            <td>{{ book_infos.pages }}</td>
          </tr>
          <tr>
            <td>ISBN 코드</td>
            <td>{{ book_infos.isbn }}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  
  <div class="book-description-block">
    <div class="book-description-head">
      <책 소개>
    </div>
    <div class="book-description-content">
      {{ book_infos.description }}
    </div>
  </div>

  <div id="comment-block">
    <div class="comment-title"><댓글></div>
    {% for review in reviews %}
    <div class="comment-block">
      <div class="comment-nickname">닉네임 : {{ review.nickname }}</div>
      <div class="comment-text-rating">
        <div class="review-text">{{ review.review_context | string }}</div>
        <div class="review-rating">
          {% for i in range(review.rating) %}
          <img src="{{ url_for('static', filename='images/star4.png') }}" alt="star img">
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  {% if session.get('login') != None %}
  <div id="write-review">
    <form action="{{ url_for('book.review', id=id) }}", method="post">
      <div class="write-review-title">평점과 리뷰를 남겨주세요.</div>
      <!-- 평점 표현하는 코드 작성하기 -->
      <textarea name="review_context" id="textarea" cols="30" rows="3" placeholder="리뷰를 작성해 주세요"></textarea>

      <div class="rating-submit-btn">
        <div class="rating">
          <input type="checkbox" name="rating" id="rating1" value="1" class="rate_radio" title="1점" checked="true">
          <label for="rating1"></label>
          <input type="checkbox" name="rating" id="rating2" value="2" class="rate_radio" title="2점" checked="true">
          <label for="rating2"></label>
          <input type="checkbox" name="rating" id="rating3" value="3" class="rate_radio" title="3점" checked="true">
          <label for="rating3"></label>
          <input type="checkbox" name="rating" id="rating4" value="4" class="rate_radio" title="4점">
          <label for="rating4"></label>
          <input type="checkbox" name="rating" id="rating5" value="5" class="rate_radio" title="5점">
          <label for="rating5"></label>
        </div>
        <div class="submit">
          <input type="submit" value="작성하기">
        </div>
      </div>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='javascript/bookinfo.js') }}"></script>
{% endblock %}