{% extends 'navbar.html' %}

{% block script %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/checkoutRecord.css') }}">
{% endblock %}

{% block content %}
<table class="table">
<tbody>
  {% for i in range(checkout_list|length) %}
  
  {% if i % 4 == 0 %}
  <tr class="tr{{ i // 4 }} table-line notshow">
  {% endif %}
    <td>
      <div class="book-container">
        <div class="book-img">
          <img src="{{ checkout_list[i][0] }}" alt="{{ checkout_list[i][1] }}" style="width: 200px;">
        </div>
        <div class="book-container-text">
          <div class="book-title">
            <div id="book-title">
              {{ checkout_list[i][1] }}
            </div>
          </div>
          <div class="book-count">{{ checkout_list[i][2] }} 권</div>
          <div class="book-borrow">대여일 : {{ checkout_list[i][4] }}</div>
          <div class="book-return">반납일 : {{ checkout_list[i][5] }}</div>
        </div>
      </div>
    </td>
  {% if i % 4 == 3 %}
  </tr>
  {% endif %}
  
  {% endfor %}
</tbody>
</table>

<div id="pagination">
</div>
{% endblock %}

{% block  scripts %}
  <script>
    const checkout_info = {{ checkout_list | tojson }}
  </script>
  <script src="{{ url_for('static', filename='javascript/checkoutRecord.js') }}"></script>
{% endblock %}