{% extends 'navbar.html' %}

{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<table class="table">
<tbody>
  {% for i in range(book_info|length) %}
  
  {% if i % 4 == 0 %}
  <tr class="tr{{ i // 4 }} table-line notshow">
  {% endif %}
    <td>
      <div class="book-container">
        <div class="book-img"><img src="{{ book_info[i][0] }}" alt="{{ book_info[i][1] }}"></div>
        <div class="book-container-text">
          <div class="book-title">
            <div id="book-title">
              <a href="{{ url_for('book.info', id=book_info[i][4]) }}">{{ book_info[i][1] }}</a>
            </div>
          </div>
          <div class="book-rating-container">
            <div class="book-rating-point">평점 {{ book_info[i][2] }}/5</d>
            <div class="book-rating-star">
              <div class="book-rating-current-container" style="width: {{ book_info[i][5] }}%;">
                <span class="book-rating-current">★</span>
                <span class="book-rating-current">★</span>
                <span class="book-rating-current">★</span>
                <span class="book-rating-current">★</span>
                <span class="book-rating-current">★</span>
              </div>
              <div class="book-rating-base-container">
                <span class="book-rating-base">★</span>
                <span class="book-rating-base">★</span>
                <span class="book-rating-base">★</span>
                <span class="book-rating-base">★</span>
                <span class="book-rating-base">★</span>
              </div>
            </div>
          </div>
          <div class="book-remain">{{ book_info[i][3] }}권 남음</div>
          {% if session.get('login') != None %}
          <a class="book-checkout" href="{{ url_for('checkout_return.checkout', id=book_info[i][4]) }}">대여하기</a>
        </div>
        {% endif %}
      </div>
    </td>
  {% if i % 4 == 3 %}
  </tr>
  {% endif %}
  
  {% endfor %}
</tbody>
</table>

<div id="pagination">
</div>
{% endblock %}

{% block  scripts %}
  <script>
    const book_info = {{ book_info | tojson }}
  </script>
  <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
{% endblock %}
