<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입 페이지</title>
</head>
<body>
  <div>
    {% with message = get_flashed_messages() %}
      {% if message %}
      {{ message[0] }}
      {% endif %}
    {% endwith %}
  </div>
  <form action="{{ url_for('main.regist') }}" method="post">
    <input type="text" name="nickname" placeholder="이름" />
    <input type="text" name="user_id" placeholder="이메일" />
    <input type="text" name="user_pw1" placeholder="비밀번호" />
    <input type="text" name="user_pw2" placeholder="비밀번호 확인" />
    <input type="submit" value="회원가입" />
  </form>
</body>
</html>