{% extends 'navbar.html' %}

{% block content %}
  <h2><{{nickname}}님의 반납 가능 목록></h2>
{% for return_book in returned_list %}
  <div class="book-container">
    <div class="book-img"><img src="{{ return_book[0] }}" alt="{{ return_book[1] }}" style="width: 200px;"></div>
    <div class="book-title">{{ return_book[1] }}</div>
    <div class="book-count">{{ return_book[2] }}권</div>
    <div class="book-rating">평점 : {{ return_book[3] }}</div>
    <div class="book-borrow">대여일 : {{ return_book[4] }}</div>
    <div class="book-return">반납일 : {{ return_book[5] }}</div>

    <form action="{{ url_for('checkout_return.returnBook', id=return_book[6]) }}" method="post">
      <input type="submit" value="반납하기">
    </form>
  </div>
{% endfor %}
{% endblock %}
